# Compiled Object files
*.slo
*.lo
*.o
*.obj
!/Surface-Simplification/data/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Temp
*.suo
*.sdf
*.opendb
/.vs
/Debug
/Release
/x86
/x64
/Surface-Simplification/Debug
/Surface-Simplification/Release
/Surface-Simplification/x86
/Surface-Simplification/x64